<div ng-app="app">
  <div ng-controller="musicCtrl" ng-init="setup()">






<% if current_user && current_user.admin %>
<button class="button"> <a href="/signup"> Add new user </a></button>
<button class="button"> <a href="/devices/new"> Add new device</a></button>
<% end %>


<br>
<!-- Lists for auto-complition -->
    <datalist id="deviceModels">
      <option ng-repeat="device in devices">{{device.model}}</option>
    </datalist>

    <h1> All available devices </h1>
    <br> Generic filter: <input ng-model="genericFilter">
    <br> Filter by model: <input ng-model="deviceFilter" list="deviceModels">



<br> <br>
<% @devices.each_slice(6) do |six_devices| %>

  <div class="row">

    <% six_devices.each do |device| %>
      <div class="col-sm-2">
        <div class="well"> 
          <a href="/devices/<%= device.id %> "><img src="<%= device.image %>"> </a>
         <h5>
           <%= device.manufacturer %> <%= device.model %> 
           <br> OS version: <%= device.os_version %>
           <br> Screen: <%= device.screen %> dpi
           <br> Located at: <%= device.location %>
         </h5>
        </div>
          <% if current_user && current_user.admin %>
            <%= button_to "Edit", {action: "edit", id: device.id}, method: :get %> 
          <% end %>
      </div>
    <% end %>

  </div>

<% end %>



  </div>  
</div>