<div>
  <% if @user && @user.errors.any? %>
    <h3><%= @user.errors.count %> errors prohibited this product from being saved</h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>


<%= form_tag "/users/#{(@user.id)}", method: :patch do %>
  <br> Email: <%= @user.email %>
  <br> Your Name: <input type="text" name="name" value="<%= @user.name %>">
  <br>
    Location: <input type="text" name="location" value="<%= @user.location %>">
  <br>
  <br>
  <br>
  
  Change Password
  <br>
  Password: <input type="password" name="password">
  <br>
  Confirm Password: <input type="password" name="password_confirmation">


  <br><input type="submit" value="Save changes">

<% end %>